<main>
    <h1>DASHBOARD</h1>
    <p>username</p>
    <button>
        <a href="/">
            HOME
        </a>
    </button>
    <button>
        <a 
            href="api/user/logout" 
            autofocus
        />
            LOGOUT
        </a>
    </button>
</main>