<main>
    <section class="auth-option">
        <button class="sign-in-btn">LOGIN</button>
        <button class="sign-up-btn">REGISTER</button>
        <button class="dashboard-btn">USER</button>
    </section>
</main>